/* --------------- Global -------------------*/
html {
    box-sizing: border-box;
}
*,*:before, *:after {
    box-sizing: inherit;
}
body{
    /* font-family: 'Inconsolata', monospace; */
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.content-wrap{
    max-width: 100%;
    width: 85%;
    margin: 0 auto;
    padding: 10px 0;
    padding-bottom: 110px;
}

/* --------------- Navigation  -------------------*/
.topnav {
    overflow: hidden;
    background-color: #3C362A;
}
.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    font-size: 18px;
    padding-inline: 15px;   
    color:white;
}
.topnav a:hover {
    background-color: white;
    color: #BE8A60;
}
.topnav input[type=text] {
    float: right;
    padding: 7px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    color: #BE8A60;
}

/*---------------- Home Page --------------------------*/
body .home_page{
    text-align: center;
    background-image: url(../images/home_bg.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home_page h1{  
    /* font-family: 'Ruda', sans-serif; */
    font-size: 60px;
    color:white;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}
.home_page img {
    border: 2px solid  #3C362A;
    border-radius: 50%;
    width: 700px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    width: 50%;
}
.home_page .btn {
    color: #F7FFF7;
    background: #342D1D;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    font-size: 30px;
}
.home_page .btn:hover {
    background: #685B3B;
  }
a.center-text {
    display: block;
}

/*---------------- Display Store Page --------------------------*/
.displayStores h1{
    font-size: 60px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}
.displayStores {
    background-color: #F7B53B;
}  
.displayStores img {
    padding-bottom: 0%;
}

.flex-container {
    display: flex;
    background-color: #3C362A;
    justify-content: center;
}
.flex-container > div {
    background-color: lightyellow;
    margin: 15px;
    padding: 10px;
    justify-content: space-around;
}
.flex-container h2 {
    font-size: 30px;
    text-align: center;
}
.flex-container p {
    font-size: 20px;
    text-align: center;
}

/* ---------------  Responsive   ----------------------*/
@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
    .home_page img {
        height: 160px;
        width: 310px; 
        margin-top: 10px;
        margin-left: 50px;
    }
    .home_page .btn {
        border-radius: 4px;
        font-size: 20px;
    }
    .home_page h1{  
        font-size: 50px;
    }
    .displayStores h1{
        font-size: 30px;
    }
}