/*----------------------- Sign In/ Sign Up page --------------------- */
.App {
  height: 100vh;
  display: flex;
  color: white;
}
.App_Aside {
  width: 50%;
  background-color:#FFBA0A;
}
.App_Form {
  width: 50%;
  background-color: #3C362A;
  padding: 25px 40px;
  overflow: auto;
}
.PageSwitcher_Item {
  background-color: #504838;
  text-decoration: none;
  color:#f5d085;
  padding: 15px;
  border-radius: 4px;
  float: right;
}
.PageSwitcher_Item_Active {
  background-color: #FFBA0A;
  color: #FFF;
}
.FormTitle {
  margin-top: 100px;
  font-size: 21px;
  margin-bottom: 60px;
}
.FormTitle_Link {
  text-decoration: none;
  font-size: 40px;
  padding-right: 10px;
  padding-left: 10px;
  color:#f5d085;
}
.FormTitle_Link_Active {
  color: #fff;
  border-bottom: 1px solid #FFBA0A;
  padding-bottom: 5px;
}
.FormField {
  font-size: 20px;
  font-weight: lighter;
  margin-top: 20px;
  color: #fff;
  margin-bottom: 40px;
}
.FormField_Label {
  margin-left: 10px;
  font-weight: lighter;
}
.FormField_Input::placeholder {
  font-size: 19px;
  font-weight: lighter;
}
.FormField_Input {
  margin-left: 5px;
  background-color: rgba(0,0,0,0);
  color: white;
  border: none;
  height: 30px;
  transition:height 1 s;
  -webkit-transition:height 1 s;
  border-bottom: 1px solid #504838;
  display: flex;
  width: 80%;
  margin-top: 10px;
  font-size: 19px;
}
.FormField_Input:focus {
  height: 40px;
  font-size: 19px;
}
.FormField_Button {
  background-color: #FFBA0A;
  color: #fff; 
  padding: 13px 80px;
  font-size: 19px;
  border-radius: 50px;
  margin-top: 30px;
}
.FormField_Link{
  color: lightgray;
  text-decoration: none;
  border-bottom: 1px solid #FFBA0A;
  margin-left: 25px;
}
.Logo {
  margin-top: 200px;
  margin-left: 20px;
  width: 700px;
}
@media screen and (max-width: 600px) {
  .App {
    height: 100vh;
    display: flex;
    color: white;
  }
  .App_Aside {
    width: 10%;
  }
  .App_Form {
    width: 90%;
  }
  
  .FormField_Label {
    font-size: 18px;
  }
  .FormField_Input::placeholder {
    font-size: 16px;
  }
  .FormField_Input:focus {
    font-size: 19px;
  }
  .FormField_Button {
    padding: 10px 60px;
    font-size: 18px;
  }
  .FormField_Link{
     font-size: smaller;
  }
}
