/* --------------- Global -------------------*/
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,*:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.content-wrap{
    max-width: 100%;
    width: 85%;
    margin: 0 auto;
    padding: 10px 0;
    padding-bottom: 130px;
}

/* --------------- Navigation  -------------------*/
.topnav {
    overflow: hidden;
    /* background-color: transparent; */
    background-color: black; /*Trying out black navbar*/
}

.topnav a {
    float: right;
    display: block;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    font-size: 18px;
    padding-inline: 15px;   
    color:white;
}
.topnav a:hover {
    /*color: #FFBA0A;*/
    background-color: #FFBA0A;
    color: black;
}
.topnav input[type=text] {
    float: right;
    padding: 7px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    color:black;
}
.logo {
    width: 33%;
    height: auto;
}

/*---------------- Home Page --------------------------*/
body .home_page{
    text-align: left;
    background-image: url(../images/grocery_bag.png);
    background-position: right;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.home_page h1{  
    font-size: 60px;
    color:white;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
    width: 50%;
}
.home_page p {
    width: 50%;
    font-size: 30px;
    color:white;
    margin-bottom: -30px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}
.section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home_page {
    position: relative;
}
.scroll-down{
    height: 50px;
    width: 30px;
    border: 2px solid #fff;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 50px;
    cursor: pointer;
}
.scroll-down::before, 
.scroll-down::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid #fff;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::after{
    top: 20%;
    animation-delay: .3s;
}
@keyframes scroll-down{
    0% {
        opacity: 0;
    }
    30% {
        opcaity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 90%;
    }
}
/*---------------- Display Store Page --------------------------*/
.logo_displayStores {
    width: 33%;
    height: auto;
}
.displayStores h1{
    margin-top: 40px;
    font-size: 60px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}
#displayStores {
    background-color: #FFBA0A;
    font-family: "Roboto", sans-serif;
}
.flex-container {
    display: flex;
    justify-content: flex-end;
    text-align: center;
}
.flex-container > div {
    margin: 15px;
    padding: 10px;
    flex: 1 1 0;
    width: 0;
}
.flex-container h2 {
    font-size: 25px;
    font-weight: bold;
}
.flex-container p {
    margin-top: -7px;
    font-size: 19px;
}
.flex-container h2:hover{
    color: #685B3B;
}


/* --------------- Store Page  -------------------*/
.store_page{
    color: #fff;
}
#store_page {
    background-image: url(../images/store_page_bg.png);
    background-position: top; 
    height: 100%;
    background-size: cover;
}
.store_page h1{
    font-size: 60px;
}
.store_page p {
    font-size: 40px;
}
.store {
    margin-top: -10px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    background: #262626;
    opacity: 0.7;
    width: 50%;
    margin-bottom: 55px;
}
.content-wrap a{
    font-size: 19px;
}
.btn_linkToStore {
    margin-left: 15%;
    width: 50%;
    color: #F7FFF7;
    background: #342D1D;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    font-size: 30px;
    padding: 13px 20px;
}
.btn_linkToStore:hover {
    width: 50%;
    background:  #685B3B;
    color: #fabc49;
}
#displayStoreItems {
    font-family: "Roboto", sans-serif;
    background-color: #FFBA0A;
}
.displayStoreItems h3 {
    color: black;
    text-align: center;
    font-size: 40px;
}
.displayStoreItems h4 {
    font-size: 20px;
}
.displayStoreItems p {
    font-size: 18px;
}
.displayStoreItems img {
    margin-top: 30px;
    margin-bottom: -50px;
}
.displayStoreItems .flex-container {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid white;
    padding: 0 5px;
    font-size: 18px;    
    flex-wrap: nowrap;
}
.displayStoreItems .flex-container> div {
    text-align: left;
    flex: 1 1 0;
    width: 0;
    width: 100px;
    margin: 10px;
    background-color: #FFBA0A;
}
.displayStoreItems button {
    background-color: #342D1D;
    color: #fff; 
    padding: 13px 20px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: -50px;
    cursor: pointer;
}
.displayStoreItems button:hover {
    background-color: #656767;
}
.displayStoreItems .buttons {
    display: flex;
    justify-content: space-around;
}
/* ---------------  Display Product Items  ----------------------*/
.product_items img{
    margin-top: 0;
    /*width: 228.78px;*/
    width: 100%;
    height: 152.7px;
}
.product_items h4 {
    margin-top: 55px;
}
.product_items-title{
    margin-top: 100px;
    margin-bottom: 60px;
}
.product_items .buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.product_items button{
    background-color: #342D1D;
    color: #fff; 
    padding: 10px 40px;
    border-radius: 50px;
    margin-bottom: 0%;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.product_items button:hover {
    background-color: #656767;
}
.product_item {
    text-align: left;
    display: flexbox;
    border: 1px solid #342D1D;
    padding: 0 5px;
    width: 21%;
}
.product_item:hover {
    background-color: #fabc49;
    border: 1px solid white;
}
.product_items .container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
/* ---------------  Shopping Cart Page ----------------------*/
.shopping_cart {
    background-color: #FFBA0A;
}
.shoppingCart {
    background-image: url(../images/shopping_cart.png);
    background-position: top; 
    height: 100%;
    background-size: cover;
}
.shopping_cart_title{
    margin-top: 90px;
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: #262626;
    opacity: 0.7;
    width: 50%;
    float: right;
    padding:  20px;
}
.shopping_cart_item  {
    width: 90%;
    border-spacing: 35px 5px;
    table-layout : fixed;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
}
.content-wrap_shopping_cart {
    margin: 0 auto;
    padding: 10px 0;
    font-family: "Roboto", sans-serif;
}
.shopping_cart_item tr td {
    border-collapse: separate;
    /* border: 1px solid black; */
}
tr, td {
    padding: 15px;
}
tr {
    text-align: right;
}
.incrementButton {
    background-color: #342D1D;
    color: #fff; 
    padding: 5px 13px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 10px;
}
.decrementButton {
    margin-right: 10px;
    background-color: #342D1D;
    color: #fff; 
    padding: 5px 13px;
    border-radius: 50px;
    cursor: pointer;
}
.pay_button {
    margin-top: 40px;
    background-color: #342D1D;
    color: #fff; 
    padding: 15px 35px;
    width: 20%;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 130px;
    float: right;
    margin-right: 80px;
}
.pay_button:hover {
    background-color: #685B3B;
}
.shopping_cart_header {
    margin: 80px;
}
.shopping_cart table {
    margin-top: -90px;
    width: 85%;
    border-spacing: 35px 5px;
    table-layout : fixed;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    font-size: 20px;
    background-color: #ffc42e;
}
tr, th {
    padding: 15px;
}
.shopping_cart_header th {
    color: white;
    background-color: black;
    text-align: left;
}
.notsignin_msg {
    margin-top: -20px;
    text-align: center;
    font-size: 50px;
    font-family: "Roboto", sans-serif;
}
.total_msg {
    font-weight: bold;
    font-size: 25px;
}
.total_price {
    font-weight: bold;
    font-size: 25px;
}

/* ---------------  User's order  ----------------------*/
.users_order {
    background-image: url(../images/groceryDriver.gif);
}
.users_order h1 {
    margin-top: -80px;
    text-align: right;
    font-size: 80px;
    width: 50%;
    margin-left: auto;
    color: #F7FFF7;
}
.btn_link_to_order {
    margin-top: -25px;
    width:auto;
    color: #F7FFF7;
    background: #342D1D;
    text-decoration: none;
    border-radius: 4px;
    font-size: 30px;
    float: right;
    padding: 13px 20px;
}
.btn_link_to_order:hover {
    background:  #685B3B;
    color: #fabc49;
}
.details{
    background-color: #FFBA0A;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.details h2 {
    font-size: 40px;
}
.details p {
    font-size: 25px;
}

.rating-label {
    font-size: 25px;
}

.ratings {
    width: 200px;
    font-size: 25px;
}

.rating-submit {
    font-size: 15px;
    color: #F7FFF7;
    background: #342D1D;
}

.rating-submit:hover {
    background:  #685B3B;
    color: #fabc49;
}


/* ---------------  Checkout Details  ----------------------*/
.checkout{
    font-family: "Roboto", sans-serif;
    border: 1px solid black;
    background-color: #ffc42e;
    text-align: center;
    width: 40%;
    padding: 10px;
    margin: auto;
}
.checkout h2 {
    font-size: 40px;
}
.checkout label {
    font-size: 20px;
}
.checkout input {
    background-color: white;
    height: 40px;
    transition:height 1 s;
    -webkit-transition:height 1 s;
    border: 1px solid #504838;
    display: block;
    width: 40%;
    margin-top: 10px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}
.checkout_btn {
    background-color: #342D1D;
    color: #fff; 
    padding: 10px 25px;
    cursor: pointer;
    font-size: large;
}
.checkout_btn:hover {
    background-color: #685B3B;
}
.checkout_form{
    font-size: 20px;
}
/* ---------------  Responsive   ----------------------*/

@media screen and (max-width: 600px) {
    /* --------------- Navigation  -------------------*/
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
    
    /*---------------- Home Page --------------------------*/
    .logo {
        width: 60%;
        height: auto;
        margin-top: 1px;
    }
    .home_page h1{  
        font-size: 40px;
        text-align: center;
        width: auto;
    }
    .home_page p {
        width: auto;
        font-size: 20px;
    }

    /*---------------- Display Store Page --------------------------*/
    .logo_displayStores {
        width: 60%;
        height: auto;
        margin-top: 1px;
    }
    .displayStores h1{
        font-size: 40px;
    }
    /*This affects Best Sellers*/
    .flex-container {
        overflow: auto;
    }
    .flex-container h2 {
        font-size: 19px;
    }
    .flex-container p {
        margin-top: -10px;
        font-size: 15px;
    }
    .flex-container {
        display: block;
        text-align: left;
    }
    .flex-container > div {
        width: auto;
        margin: 0px;
        padding: 0px;
        margin-bottom: 2px;
    }
    /* --------------- Store Page  -------------------*/
    .logo .store_page {
        width: 60%;
        height: auto;
        margin-top: 1px;
    }
    .store_page h1{
        font-size: 50px;
    }
    .store_page p {
        font-size: 30px;
    }
    .store {
        width: 100%;
        margin-bottom: 50px;
    }
    .content-wrap a{
        font-size: 15px;
    }
    .btn_linkToStore {
        margin-left: 20%;
        padding: 12px 40px;
    }
    .displayStoreItems h4 {
        font-size: 18px;
    }
    .displayStoreItems p {
        font-size: 16px;
    }
    .displayStoreItems img {
        margin-bottom: -20px;
    }
    .displayStoreItems .buttons {
        margin-left: 40px;
        justify-content: space-between;
    }
    .displayStoreItems button {
        padding: 5px 5px;
        font-size: 10px;
        width: auto;
    }
     /* ---------------  Display Product Items  ----------------------*/
     .product_items img{
        width: 100%;
        height: 150.7px;
        margin-bottom: -40px;
    }
    .product_items button{
        width: 100%;
        height: 30px;
        cursor: pointer;
        border-radius:0%;
        margin-bottom: -20px;
        margin-left: auto;
        margin-right: auto;
        font-size: smaller;
    }
    .product_item .buttons {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .product_item {
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        border: 1px solid #342D1D;
        padding: 0 5px;
        width: 58%;
        margin-bottom: 50px;
    }
    .product_items .container {
        display: inline;
        justify-content: space-evenly;
    }
    .product_item p {
        margin-top: -10px;
    }

    /* ---------------  Shopping Cart Page ----------------------*/
    .shopping_cart_title{
        float: none;
        font-size: 40px;
        width: 100%;
    }
    .shopping_cart_header th {
        font-size: xx-small;
        width: 25%;
    }
    .shopping_cart table {
        font-size: smaller;
        border-spacing: unset;
    }
    .total_price {
        font-size: smaller;
    }
    .total_msg {
        font-size: smaller;
    }
    .incrementButton {
        padding: 2px 2px;
        margin-left: 5px;
    }
    .decrementButton {
        margin-right: 5px; 
        padding: 2px 2px;
    }
    .pay_button { 
        padding: none;
        width: 50%;
        margin-right: 0px;
    }
    .notsignin_msg {
        font-size: 25px;
    }

    /* ---------------  User's order  ----------------------*/
    .users_order {
        background-image: url(../images/groceryDriver.gif);
        background-position:top;
        background-repeat: no-repeat;
    }
    .users_order h1 {
        text-align: left;
        font-size: 50px;
        margin-top: 5px;
    }
    .btn_link_to_order {
        margin-top: -15px;
        margin-right: 20px;
    }
    .details h2 {
        font-size: 33px;
    }
    .details p {
        font-size: 18px;
    }
    
    /* ---------------  Checkout Details  ----------------------*/
    .checkout{
        width: 100%;
    }
    .checkout input {
        width: 75%;
    }
}