<!DOCTYPE html>
{% load static %}
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Shopping Cart</title>

    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'javascript/account_management.js' %}"></script>
    <script src="{% static 'javascript/csrf.js' %}"></script>

    <!-- CSS STYLE SHEETS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">


</head>
<body class="shopping_cart">
       <!-- ***********************  NAVIGATION  *********************** -->
        <header>
            <div class="topnav">
                    <input type="text" placeholder="Search..">
                    <a id="signin-signout" class="active" href="/signin/">Sign in</a>
                    <a class="active" href="/shopping_cart/">Cart</a>
                    <a class="active" href="/">Home</a>
            </div>
        </header>
        <div class="content-wrap_shopping_cart">
            <img src="{% static 'images/logo_grocery.png' %}" alt="GroceryChimp_Logo" class="logo_displayStores">
            <h1 class="shopping_cart_title">Review List</h1>
        <div class="shopping_cart_header">
            <table>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
            </table>
        </div>
        
<script>
    get_cart();
    function get_cart() {
        
        if (is_signed_in()) {
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: JSON.stringify({
                    user: get_user()
                }),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCSRFToken()
                },
                dataType: 'json',
                contentType: 'application/json',
                success: function(data) {
                    console.log(data);

                    for (let product of data["success"]) {
                        let table = document.createElement('table');
                        table.className = "shopping_cart_item";
                        table.innerHTML += "<tr><td>" + product["name"] + "</td><td>($" + product["base_price"] + ")</td><td><button type='GamepadButton' class='incrementButton'>-</button> " 
                            + product["quantity"] + " <button type='GamepadButton' class='decrementButton'>+</button></td><td>$" + product["total_price"] + "</td> </tr>";
                        document.body.append(table);
                    }
                        var pay_button = document.createElement('button');
                        pay_button.innerHTML = 'PAY NOW';
                        pay_button.id = 'pay_button';
                        pay_button.className = 'pay_button';
                        document.body.appendChild(pay_button);
                }
            });
        }
        else {
            document.getElementsByClassName("pay_button")[0].hidden = true;
            document.body.innerHTML += "You are not signed in.";
        }
    }
</script>
<!-- <button class="pay_button">PAY NOW</button> -->
</div>
</body>
</html>