<!DOCTYPE html>
{% load static %}
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Shopping Cart</title>

    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'javascript/account_management.js' %}"></script>
    <script src="{% static 'javascript/csrf.js' %}"></script>

    <!-- CSS STYLE SHEETS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">


</head>
<body class="shopping_cart"></body>
<!-- ***********************  NAVIGATION  *********************** -->
<header>
    <div class="topnav">
        <input type="text" placeholder="Search..">
        <a id="signin-signout" class="active" href="/signin/">Sign in</a>
        <a id="#" class="active" href="/orders">Purchase History</a>
        <a class="active" href="/">Home</a>
    </div>
</header>
<section class="shoppingCart">
    <div class="content-wrap">
        <img src="{% static 'images/logo_grocery_white.png' %}" alt="GroceryChimp_Logo" class="logo">
        <h1 class="shopping_cart_title">Review List</h1>
    </div>
</section>
<div class="content-wrap">
<script>
    modify_sign_in();
    get_cart();
    function get_cart() {
        if (is_signed_in()) {
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: JSON.stringify({
                    user: get_user()
                }),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCSRFToken()
                },
                dataType: 'json',
                contentType: 'application/json',
                success: function(data) {
                    console.log(data);
                    // CREATE TABLE HEADER
                    let table = document.createElement('table');
                    table.className = "shopping_cart";
                    let tr = document.createElement('tr');
                    tr.className = "shopping_cart_header";
                    let th = document.createElement('th');
                    th.innerText = "Product";
                    tr.appendChild(th);
                    th = document.createElement('th');
                    th.innerText = "Price";
                    tr.appendChild(th);
                    th = document.createElement('th');
                    th.innerText = "Quantity";
                    tr.appendChild(th);
                    th = document.createElement('th');
                    th.innerText = "Subtotal";
                    tr.appendChild(th);
                    table.appendChild(tr);

                    // ITERATE THROUGH PRODUCTS
                    let total = 0;
                    for (let product of data["success"]) {
                        tr = document.createElement('tr');
                        tr.className = "shopping_cart_item";

                        // PRODUCT NAME
                        let td = document.createElement('td');
                        td.innerText = product["name"];
                        tr.appendChild(td);

                        // PRODUCT PRICE PER ITEM
                        td = document.createElement('td');
                        td.innerText = "$" + product["base_price"];
                        tr.appendChild(td);

                        // PRODUCT QUANTITY AND DECREMENT/INCREMENT BUTTONS
                        td = document.createElement('td');
                        let button = document.createElement('button');
                        button.type = "GamepadButton";
                        button.className = "decrementButton";
                        button.innerText = "-";
                        button.onclick = (e) => {
                            const b = e.target;
                            let quantity = parseInt(b.nextSibling.innerText);
                            b.nextSibling.innerText = (quantity - 1 >= 0) ? --quantity : 0;
                            let price = b.parentElement.previousSibling.innerText.substring(1);
                            b.parentElement.nextSibling.innerText = "$" + (price * quantity).toFixed(2);

                            update_total();
                        };
                        td.appendChild(button);

                        let span = document.createElement('span');
                        span.innerText = product["quantity"];
                        td.appendChild(span);

                        button = document.createElement('button');
                        button.type = "GamepadButton";
                        button.className = "incrementButton";
                        button.innerText = "+";
                        button.onclick = (e) => {
                            const b = e.target;
                            let quantity = parseInt(b.previousSibling.innerText);
                            b.previousSibling.innerText = ++quantity;
                            let price = b.parentElement.previousSibling.innerText.substring(1);
                            b.parentElement.nextSibling.innerText = "$" + (price * quantity).toFixed(2);

                            update_total();
                        };
                        td.appendChild(button);
                        tr.appendChild(td);

                        // PRODUCT SUBTOTAL
                        td = document.createElement('td');
                        td.innerText = "$" + product["total_price"];
                        total += parseFloat(product["total_price"]);
                        tr.appendChild(td);

                        // ADD PRODUCT ROW TO TABLE
                        table.appendChild(tr);
                    }
                    // APPEND TOTAL
                    tr = document.createElement('tr');
                    tr.className = "shopping_cart_total";
                    td = document.createElement('td'); tr.appendChild(td); // SKIP PRODUCT
                    td = document.createElement('td'); tr.appendChild(td); // SKIP PRICE
                    td = document.createElement('td');
                    td.innerText = "TOTAL"
                    td.className = "total_msg"
                    tr.appendChild(td);
                    td = document.createElement('td');
                    td.innerText = "$" + total.toFixed(2);
                    td.className = "total_price"
                    tr.appendChild(td);
                    table.appendChild(tr);

                    // ADD TABLE TO DOCUMENT
                    document.body.append(table);

                    // ADD PAY BUTTON TO DOCUMENT
                    let pay_button = document.createElement('button');
                    pay_button.innerHTML = 'PAY NOW';
                    pay_button.className = 'pay_button';
                    pay_button.onclick = (e) => {
                        // UPDATE CART
                        let cart = {};
                        for (let item of get_new_cart()) {
                            cart[item["item_name"]] = item["quantity"];
                        }
                        $.ajax({
                            url: window.location.pathname,
                            type: 'POST',
                            data: JSON.stringify({
                                user: get_user(),
                                update: cart
                            }),
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json',
                                'X-CSRFToken': getCSRFToken()
                            },
                            dataType: 'json',
                            contentType: 'application/json',
                            success: function(data) {
                                // GO TO CHECKOUT PAGE
                                window.location = '/checkout/';
                            }
                        });
                    };
                    document.body.appendChild(pay_button);

                    // ADD SAVE CART BUTTON
                    let save_button = document.createElement('button');
                    save_button.innerHTML = 'SAVE CART';
                    save_button.className = 'pay_button';
                    save_button.onclick = (e) => {
                        let cart = {};
                        for (let item of get_new_cart()) {
                            cart[item["item_name"]] = item["quantity"];
                        }
                        $.ajax({
                            url: window.location.pathname,
                            type: 'POST',
                            data: JSON.stringify({
                                user: get_user(),
                                update: cart
                            }),
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json',
                                'X-CSRFToken': getCSRFToken()
                            },
                            dataType: 'json',
                            contentType: 'application/json',
                            success: function(data) {
                                // REFRESH PAGE
                                alert("Your Shopping Cart has been saved.");
                                location.reload();
                            }
                        });
                    };
                    document.body.appendChild(save_button);
                }
            });
        }
        else {
            // HIDE ELEMENTS IF NOT SIGNED IN
            document.getElementsByClassName("shopping_cart_title")[0].hidden = true;
            document.body.innerHTML += "<h2 class='notsignin_msg'>You are not signed in.</h2>";
        }
    }
    function get_new_cart(ignore_0_quantity = false) {
        let table = document.getElementsByTagName("table")[0];
        let cart_items = table.getElementsByClassName("shopping_cart_item");
        let cart = [];
        for (let ci of cart_items) {
            // GET <td> WITH ITEM NAME
            let elem = ci.children[0];
            let item_name = elem.innerText;

            // GET <td> WITH PRICE STRING
            elem = elem.nextSibling;
            let price = parseFloat(elem.innerText.substring(1));

            // GET <td> WITH QUANTITY BUTTONS
            elem = elem.nextSibling;
            let quantity = parseInt(elem.children[1].innerText);
            if (ignore_0_quantity && quantity <= 0) {
                continue;
            }

            // GET <td> WITH SUBTOTAL
            elem = elem.nextSibling;
            let subtotal = parseFloat(elem.innerText.substring(1));

            cart.push({
                "item_name": item_name,
                "price": price,
                "quantity": quantity,
                "subtotal": subtotal
            });
        }
        return cart;
    }

    function update_total() {
        let cart = get_new_cart();
        let total = 0;
        for (let i of cart) {
            total += i["subtotal"];
        }
        document.getElementsByClassName("shopping_cart_total")[0].children[3].innerText = "$" + total.toFixed(2);
    }
</script>
</div>
</html>