<!DOCTYPE html>
{% load static %}
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>{{store_name}} - Store Display</title>

    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'javascript/account_management.js' %}"></script>

    <!-- CSS STYLE SHEETS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <!-- ***********************  NAVIGATION  *********************** -->  
        <section class="store_page" id="store_page">
        <header>
            <div class="topnav">
                <input type="text" placeholder="Search..">
                <a id="signin-signout" class="active" href="/signin/">Sign in</a>
                <a class="active" href="">Cart</a>
                <a class="active" href="/">Home</a>
            </div>
        </header>
            <div class="content-wrap">
                <img src="../static/images/logo_grocery_white.png" alt="GroceryChimp_Logo" class="logo">
                <div class="store" >
                    <h1>{{store_name}}</h1>
                    <p>{{store_address}}</p>
                </div>
                <a href="#displayStoreItems" class="btn_linkToStore">START YOUR CART<a>
            </div>
        </section> 

        <section class=displayStoreItems id="displayStoreItems">
            <div class="content-wrap">
            <img src="../static/images/logo_grocery.png" alt="GroceryChimp_Logo" class="logo">
            <h3>Best Sellers</h3>

                <div class="flex-container">
                    {% for product in products %}
                        <div>
                            <h4>{{product.product_name}}</h4>
                            <p>Price: ${{product.price}}</p>
                            <button type="button">ADD TO CART</button>
                        </div>
                    {% endfor %}
                </div>
                
            </div>
        </section>
    </main>
    <script>
        modifySignIn();
    </script>
</body>
</html>