<!DOCTYPE html>
{% load static %}
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>{{store_name}} - Store Display</title>

    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'javascript/account_management.js' %}"></script>
    <script src="{% static 'javascript/csrf.js' %}"></script>

    <!-- CSS STYLE SHEETS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <!-- ***********************  NAVIGATION  *********************** -->  
        <section class="store_page" id="store_page">
        <header>
            <div class="topnav">
                <input type="text" placeholder="Search..">
                <a id="signin-signout" class="active" href="/signin/">Sign in</a>
                <a class="active" href="/shopping_cart/">Cart</a>
                <a class="active" href="/">Home</a>
            </div>
        </header>
            <div class="content-wrap">
                <img src="../static/images/logo_grocery_white.png" alt="GroceryChimp_Logo" class="logo">
                <div class="store">
                    <h1>{{store_name}}</h1>
                    <p>{{store_address}}</p>
                </div>
                <a href="#displayStoreItems" class="btn_linkToStore">START YOUR CART</a>
            </div>
        </section> 

        <section class=displayStoreItems id="displayStoreItems">
            <div class="content-wrap">
                <img src="../static/images/logo_grocery.png" alt="GroceryChimp_Logo" class="logo">
                <h3>Best Sellers</h3>
                <div class="flex-container">
                    {% for product in best_sellers %}
                        <div>
                            <h4>{{product.product_name}}</h4>
                            <p>Price: ${{product.price}}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class=buttons>
                    {% for product in best_sellers %}
                        <button type="button" onclick="add_to_cart('{{product.product_id}}')">ADD TO CART</button>
                    {% endfor %}
                </div>

                <h3 class="product_items-title">List of Our Products</h3>
                <!-- CREATE PRODUCT CONTAINERS -->
                {% for container in containers %}
                    <div class="product_items">
                        <div class="container">
                            <!-- ADD PRODUCTS TO CONTAINER -->
                            {% for product in container %}
                            <div class="product_item"> 
                                <img src="{% static product.image_path %}" alt="Product Item" class="item">
                                <h4>{{product.product_name}}</h4>
                                <p>Price: ${{product.price}}</p>
                      
                                <div class="buttons">
                                <button type="button" onclick="add_to_cart('{{product.product_id}}')">ADD TO CART</button>
                                </div>


                            </div>
                            {% endfor %}
                        </div>
                        <!-- <div class="buttons"> -->
                            <!-- ADD "ADD TO CART" BUTTONS FOR PRODUCTS -->
                            <!-- {% for product in container %} -->
                                <!-- <button type="button" onclick="add_to_cart('{{product.product_id}}')">ADD TO CART</button> -->
                            <!-- {% endfor %} -->
                        <!-- </div> -->
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
    <script>
        modify_sign_in();
        function add_to_cart(product_id) {
            if (is_signed_in()) {
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: JSON.stringify({
                        user: get_user(),
                        product_id: product_id
                    }),
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCSRFToken()
                    },
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function(data) {
                        alert("Added " + data["success"]["product"] + " to cart.\nThere is now " + data["success"]["quantity"] + " in your cart.");
                        console.log(data);
                    }
                });
            }
            else {
                alert("You are not signed in.");
            }
        }
    </script>
</body>
</html>