<!DOCTYPE html>
<html lang="en">
<head>
    <title>Store Display</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <!-- ***********************  NAVIGATION  *********************** -->  
        <header>
            <div class="topnav">
                    <a class="active" href="index.html">Home</a>
                    <a class="active" href="">Cart</a>
                    <a class="active" href="">Sign in</a>
                    <input type="text" placeholder="Search..">
            </div>
        </header>
        <section class="store_page">
        <div class="content-wrap">
            <div class="store">
                <h1>Food Festive</h1>
                <p>9709 East Lakeview Street, Coventry, RI 02816</p>
                <a class="btn_linkToStore" href="#store_items" class="center-text">See our grocery items</a>

                <img src="..\static\images\grocery_bag.png" alt="Grocery Bag" class="center">
            </div>
                <h3>Best Seller</h3>
        <div> 
        <div class="content-wrap" id="store_items">
                <div class="flex-container-items">
                    <div>Product1</div>
                    <div>Product2</div>
                    <div>Product3</div>
                    <div>Product4</div>
                    <div>Product5</div>
                </div>
        <div class="content-wrap">
        </section> 
    </main>
</body>
</html>