<!DOCTYPE html>
{% load static %}
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>User's Order</title>

    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'javascript/account_management.js' %}"></script>
    <script src="{% static 'javascript/csrf.js' %}"></script>

    <!-- CSS STYLE SHEETS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <!-- ***********************  NAVIGATION  *********************** -->
        <header>
            <div class="topnav">
                    <input type="text" placeholder="Search..">
                    <a id="signin-signout" class="active" href="/signin/">Sign in</a>
                    <a class="active" href="/shopping_cart/">Cart</a>
                    <a class="active" href="/">Home</a>
            </div>
        </header>
        <section class="users_order">
        <div class="content-wrap">
                <img src="{% static 'images/logo_grocery_white.png' %}" alt="GroceryChimp_Logo" class="logo">
                <h1>Thank you for shopping with us!</h1>
                <a href="#order_details" class="btn_link_to_order">Your Order Details</a>
            </div>
        </section>
        <section class="details">
            <div class="content-wrap" id="order_details">
                <!--
                <p>Transaction ID: </p>
                <p> Transaction Date: </p>
                <p> Transaction Price: </p>
                <p> Your order is delivered by: <p>
                <p> Driver's firstname/ Driver's lastname</p>
                -->
                <!-- TODO: LIST FOR FIVE STARS REVIEW -->
                <h2>Please tell us how we did!</h2>
                <label for="rating" class="rating-label">Rating:</label>
                <select name="rating" class="ratings">
                    <option disabled selected>Choose a rating</option>
                    <option value="1">Poor</option>
                    <option value="2">Fair</option>
                    <option value="3">Good</option>
                    <option value="4">Excellent</option>
                    <option value="5">Outstanding</option>
                </select>
                <br><br>
                <h2>Order Details</h2>
            </div>
        </section>
    </main>
</body>
<script>
    modify_sign_in();
    setup();
    function setup() {
        if (is_signed_in()) {
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: JSON.stringify({
                    user: get_user()
                }),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCSRFToken()
                },
                dataType: 'json',
                contentType: 'application/json',
                success: function(data) {
                    console.log("success", data);
                    let details = document.getElementById("order_details");
                    // TRANSACTION ID
                    let e = document.createElement("p");
                    e.innerText = "Transaction ID: " + data["success"]["id"];
                    details.appendChild(e);

                    // TRANSACTION DATE
                    e = document.createElement("p");
                    e.innerText = "Transaction Date: " + data["success"]["date"];
                    details.appendChild(e);

                    // TRANSACTION PRICE
                    e = document.createElement("p");
                    e.innerText = "Transaction Price: $" + data["success"]["price"];
                    details.appendChild(e);

                    // DELIVERY GUY
                    e = document.createElement("p");
                    e.innerText = "Your order is delivered by:";
                    details.appendChild(e);
                    e = document.createElement("p");
                    e.innerText = data["success"]["driver"]["first"] + " " + data["success"]["driver"]["last"];
                    details.appendChild(e);

                    document.getElementsByClassName("ratings")[0].onchange = (event) => {
                        console.log("hi", data);
                        console.log(event.target.value);
                        $.ajax({
                            url: window.location.pathname,
                            type: 'POST',
                            data: JSON.stringify({
                                user: get_user(),
                                rating: {
                                    rating: event.target.value,
                                    id: data["success"]["id"]
                                }
                            }),
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json',
                                'X-CSRFToken': getCSRFToken()
                            },
                            dataType: 'json',
                            contentType: 'application/json',
                            success: function(data) {
                                console.log("success rating");
                                alert("Thank you for your rating!");
                            }
                        });
                    };
                }
            });
        }
        else {
            // HIDE ELEMENTS IF NOT SIGNED IN
            document.body.innerHTML += "<h2 class='notsignin_msg'>You are not signed in.</h2>";
        }
    }
</script>
</html>
