@charset "UTF-8";

body {
	font-family: 'Open Sans', 'Roboto', 'Segoe UI', 'San Francisco', -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

hr {
	margin-top: 30px;
	margin-bottom: 30px;
	border-top: 2px solid black;
    border-radius: 3px
}

h1.title {
	text-align: center;
}
